@import "./variables/_colors.css";
@import "./variables/_shadows.css";
@import "./variables/_sizing.css";
@import "./variables/_fonts.css";
@import "./variables/_queries.css";
@import "./common/_typography.css";

@import "./components/_layout.css";
@import "./components/_elements.css";
@import "./components/_buttons.css";
@import "./components/_breadcrumbs.css";


@import "./cards/_tool.css";
@import "./cards/_team.css";
@import "./cards/_key-dates.css";
@import "./cards/_upcoming-events.css";
@import "./cards/_testimonial.css";
@import "./cards/_cta.css";

@import "./blocks/_core.css";
@import "./blocks/_header.css";
@import "./blocks/_header-small.css";
@import "./blocks/_buckets.css";
@import "./blocks/_overlap-image.css";
@import "./blocks/_callout-cta.css";
@import "./blocks/_accordion.css";
@import "./blocks/_cards.css";
@import "./blocks/_5050.css";
@import "./blocks/_photo-grid.css";
@import "./blocks/_horizontal-carousel.css";



div .editor-styles-wrapper {
    --wp--preset--font-size--small: var(--font-size-p) !important;
    --wp--preset--font-size--medium:  var(--font-size-p-sm) !important;
    --wp--preset--font-size--large:  var(--font-size-p-lg) !important;
    --wp--preset--font-size--x-large:  var(--font-size-p-xl) !important;
}
/* 
.block-editor-block-list__layout {
    display: flex;
    flex-direction: column;
    align-items: center;
} */


/*  Editor Block Specific */

.isp-desktop-only,
.isp-mobile-only,
.isp-accordion--body{
    display: block !important;
}
