@import "./variables/_colors.css";
@import "./variables/_fonts.css";
@import "./common/_typography.css";

@import "./components/_layout.css";
@import "./components/_elements.css";



@import "./blocks/_core.css";
@import "./blocks/_buckets.css";
@import "./blocks/_overlap-image.css";
@import "./blocks/_callout-cta.css";


div .editor-styles-wrapper {
    --wp--preset--font-size--small: var(--font-size-p) !important;
    --wp--preset--font-size--medium:  var(--font-size-p-sm) !important;
    --wp--preset--font-size--large:  var(--font-size-p-lg) !important;
    --wp--preset--font-size--x-large:  var(--font-size-p-xl) !important;
}