
.isp-breadcrumbs{
    background: var(--sand-2);

}

.isp-breadcrumbs--container{
    margin: 0 auto;
    max-width: 1288px;
    width: 100%;
    display: grid;
    padding: 0 24px;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-between;
    align-items: center;
    min-height: 84px;
    gap: 24px;

    .breadcrumb{
        grid-column: 3 / span 9;
        padding: 0 24px;
        font-size: 12px;
        background: none;
        color: var(--ubc-grey-1);
    }

    .trail-end{
        color: var(--ubc-primary);
    }

    .divider {
        color: var(--calcite);
        margin: 0 6px;
    }
    
}


.isp-sharepage{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 6px 6px 16px;
    gap: 8px;

    /* ISP/Calcite */
    background:var(--calcite);

    /* UBC/White */
    border: 1px solid #FFFFFF;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;

    &:hover,
    &:focus {
        background: var(--bistre);

        .isp-sharepage--text{ 
            left: 12px;
        }
        .isp-sharepage--icon{
            transform: scale(2);
            opacity: 0;
        }
    }
}
.isp-sharepage--text{ 
    position: relative;
    left: 0;
    transition: var(--transition);
    font-family: var(--opensans);
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;

    /* identical to box height, or 12px */
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    /* UBC/White */
    color: #FFFFFF;
}
.isp-sharepage--icon{ 
    width: 24px;
    height: 24px;
    transition: var(--transition);
}