

body {
	background: #ffffff;
    scroll-behavior: smooth;
    /* &.home {
        background: var(--sand-3);
    } */
}


/*  Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--bistre);
}

p {
	color: var(--bistre);
    font-size: var(--font-size-p);
    margin-bottom: 18px;
}
