.dataTables_wrapper {
	border-radius: 16px;
	border-left: solid 1px var(--sand-1) !important;
	border-right: solid 1px var(--sand-1) !important;
	overflow: hidden;

	.tablepress {
		margin: 25px 0;
		display: table;
		border-top: solid 1px var(--sand-1) !important;
		border-bottom: solid 1px var(--sand-1) !important;
		overflow: hidden;
		position: relative;
		--head-active-bg-color: var(--sand-3);
		--head-active-text-color: var(--ubc-primary);

		& caption{
			position: absolute;
			top: 100%;	 
			left: 0;
			right: 0;
		}

		& thead {
			border-bottom: solid 1px var(--sand-3);

			& tr{
				background: white;
			}
		}
		& th {
			color: var(--ubc-primary);
			font-size: 14px;
			font-weight: 600;
			line-height: 130%;
			padding: 24px;
			background: none;
			transition: var(--transition);
			border-bottom: none !important;

		    + th {
				border-left: solid 1px var(--sand-1);
			}

			&.sorting{
				padding-right: 50px;
				&:before{
					content: '';
					width: 5px;
					height: 5px;
					border-top: solid 2px var(--ubc-primary);
					border-left: solid 2px var(--ubc-primary);
					rotate: 45deg;
					right: 24px;
				}
				&:after{
					content: '';
					width: 5px;
					height: 5px;
					border-bottom: solid 2px var(--ubc-primary);
					border-right: solid 2px var(--ubc-primary);
					rotate: 45deg;
					margin: 0;
					right: 24px;
				}
			}
		}

		& td {
			color: var(--bistre);
			font-size: 14px;
			line-height: 140%;
			padding: 16px 24px;
		}

		& tr{
			border: none !important;

			& td{
				background: none;
			}
		}
		& tr.even {
			background-color: #fdfcfb;
		}
		& tr.odd {
			background-color: var(--sand-3);
		}
		& tr:hover {
			background-color: var(--sand-2);

			& td{
				background: none;
				color: var(--bistre) !important;
			}
		}
	}


	.dataTables_paginate{
		background: var(--sand-2);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 24px;
		width: 100%;
		margin: 0;

		& span{
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 4px;
			margin: 0 16px;
		}

		.paginate_button{
			width: 24px;
			height: 24px;
			padding: 2px;
			border-radius: 4px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--bistre) ;
			transition: var(--transition);

			&.current,
			&:hover,
			&:focus {
				color: white !important;
				background: var(--bistre) !important;


				&:hover,
				&:focus {
					color: white !important;
					background: var(--bistre) !important;
				}
			}
		}
	}
}
